.RealEstateForm{
    background: rgba(#00ACEE, 0.1);

    .CategoryPart{
        background-color: #FFFFFF;

        h2{
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 10px;
            text-transform: uppercase;
        }

        p{
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 17px;
            margin-bottom: 20px;

            span:nth-child(1){
                font-weight: 600;
                color: #757575;
            }

            span:nth-child(2){
                font-size: 15px;
                color: #00ACEE;
                cursor: pointer;
            }
        }
    }

    // LISTING DETAILS
    .ListingDetailsPart {
        background-color: #FFFFFF;
        margin-top: 20px;
        padding: 20px;

        h2{
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 30px;
            text-transform: uppercase;
        }

        // NUMBER OF ROOMS AND BATHROOMS AND FURNISHED/UNFURNISHED
        .NumberOfRooms,
        .NumberOfBathrooms,
        .FurnishedUnfurnished,
        .Floor,
        .BuildingAge,
        .RentalPeriod,
        .Facade,
        .SurfaceArea,
        .MainAmenities,
        .NearbyLocations,
        .AdditionalAmenities{
            background-color: #FFFFFF;
            margin-top: 50px;

            h3 {
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 10px;
                text-transform: capitalize;
            }
        }

        .SurfaceArea{

            input{
                width: 100%;
                height: 50px;
                padding: 10px;
                border: 1px solid #EBF5F8;
                border-radius: 5px;
                font-size: 15px;

                &:focus{
                    outline: 1px solid #00ACEE;
                }
            }
        }
    }


    // LOCATION
    .LocationPart{
        background-color: #FFFFFF;
        margin-top: 20px;
        padding: 20px;

        h2{
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 30px;
            text-transform: uppercase;
        }

        label{
            font-size: 15px;
            color: #757575;
            display: block;
        }

        input{
            width: 100%;
            height: 50px;
            padding: 10px;
            border: 1px solid #EBF5F8;
            border-radius: 5px;
            font-size: 15px;

            &:focus{
                outline: 1px solid #00ACEE;
            }
        }

    }

    // DESCRIPTION
    .DescriptionPart{
        background-color: #FFFFFF;
        margin-top: 20px;
        padding: 20px;

        h2{
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 30px;
            text-transform: uppercase;
        }

        input{
            width: 100%;
            height: 50px;
            padding: 10px;
            border: 1px solid #EBF5F8;
            border-radius: 5px;
            font-size: 15px;

            &:focus{
                outline: 1px solid #00ACEE;
            }
        }

        textarea{
            width: 100%;
            height: 200px;
            padding: 10px;
            border: 1px solid #EBF5F8;
            border-radius: 5px;
            font-size: 15px;

            &:focus{
                outline: 1px solid #00ACEE;
            }
        }

        span{
            font-size: 15px;
            color: #757575;
            margin-top: 10px;
            display: block;
            margin-left: auto;
        }
    }

    // PRICE
    .PricePart{
        background-color: #FFFFFF;
        margin-top: 20px;
        padding: 20px;

        h2{
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 30px;
            text-transform: uppercase;
        }

        input{
            width: 100%;
            height: 50px;
            padding: 10px;
            border: 1px solid #EBF5F8;
            border-radius: 5px;
            font-size: 15px;

            &:focus{
                outline: 1px solid #00ACEE;
            }
        }
    }

    // CONTACT INFORMATION
    .ContactInformationPart{
        background-color: #FFFFFF;
        margin-top: 20px;
        padding: 20px;

        h2{
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 30px;
            text-transform: uppercase;
        }

        input{
            width: 100%;
            height: 50px;
            padding: 10px;
            border: 1px solid #EBF5F8;
            border-radius: 5px;
            font-size: 15px;

            &:focus{
                outline: 1px solid #00ACEE;
            }
        }
    }

    // BUTTON
    .SubmitPart{
        margin-top: 20px;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        button{
            width: 100%;
            height: 50px;
            background-color: #F5A92F;
            color: #FFFFFF;
            font-size: 15px;
            font-weight: 600;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover{
                background-color: #e59c28;
            }
        }
    }
}


