@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --tajwal-font: 'Tajawal', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #FFFFFF;
    font-family: 'Tajawal', sans-serif;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(0, 172, 238);
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}

@media (min-width: 768px) {
    .container {
        padding: 0 30px;
    }
}

@media (min-width: 992px) {
    .container {
        padding: 0 45px;
    }
}

@media (min-width: 1200px) {
    .container {
        padding: 0 60px;
    }
}

/*RECOLOR THE MENU HOVER COLORS*/
/*.p-menubar-root-list > li {*/
/*    background: rgba(243, 249, 251, 1);*/
/*    margin: 0 5px;*/
/*    border-radius: 30px;*/
/*}*/

/*.p-menubar-root-list > li:first-child {*/
/*    margin-left: 0;*/
/*}*/

/*.p-menubar-root-list > li > a {*/
/*    background: rgba(243, 249, 251, 1);*/
/*    margin: 0 5px;*/
/*    border-radius: 30px;*/
/*}*/

/*.p-menubar-root-list > li:first-child > a {*/
/*    margin-left: 0;*/
/*}*/


/*.p-menuitem-link:hover {*/
/*    background-color: rgba(0, 172, 238, 1);*/
/*    color: #FFFFFF;*/
/*}*/

/*.p-menuitem-link:hover .p-menuitem-text {*/
/*    color: #FFFFFF;*/
/*}*/

/*.p-menuitem-link:hover .p-submenu-icon {*/
/*    color: #FFFFFF;*/
/*}*/

/*.p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link, .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover {*/
/*    background-color: rgba(0, 172, 238, 1);*/
/*    color: #FFFFFF;*/
/*}*/

/*.p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-text, .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {*/
/*    color: #ffffff;*/
/*}*/

/*.p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link .p-submenu-icon, .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover .p-submenu-icon {*/
/*    color: #ffffff;*/
/*}*/


/*.p-menubar .p-menuitem.p-menuitem-active > .p-menuitem-link {*/
/*    background-color: rgba(0, 172, 238, 1);*/
/*}*/

/*.p-menubar .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-text {*/
/*    color: #FFFFFF;*/
/*}*/

/*.p-menubar .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-icon, .p-menubar .p-menuitem.p-menuitem-active > .p-menuitem-link .p-submenu-icon {*/
/*    color: #ffffff;*/
/*}*/

/*SWIPER RESET*/
.swiper {
    z-index: 0 !important;
}

.swiper-pagination-bullet {
    background: #FFFFFF !important;
}

.swiper-pagination-bullet-active {
    background: #FFFFFF !important;
    width: 16px !important;
    border-radius: 3px !important;
}

.swiper-button-prev,
.swiper-button-next {
    background-color: rgba(243, 249, 251, 1);
    width: 150px;
    height: 150px;
    padding: 30px;
    border-radius: 50%;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 18px !important;
    color: rgba(0, 142, 204, 1) !important;
}